/* App.css */

body {
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #333;
  transition: background-color 0.3s;
}

.App {
  text-align: center;
  padding: 20px;
  transition: padding 0.3s;
}

h1 {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  margin: 0;
  transition: background-color 0.3s;
}

h1:hover {
  background-color: #0056b3;
}

/* NewsFeed.css */

.news-feed {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background-color 0.3s;
}

.news-feed h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

/* NewsEntity.css */

.news-entity {
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background-color 0.3s;
}

.news-entity h2 {
  font-size: 20px;
  margin: 0;
  color: #333;
  transition: color 0.3s;
}

.news-entity p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
  transition: color 0.3s;
}

.news-entity img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.news-entity:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Improved "Read More" button */
.read-more-link {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.read-more-link:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.2s;
}
/* CSS for Search Bar and Filters */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #555;
  transition: border-color 0.3s, color 0.3s;
}

.search-bar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  min-width: 150px;
  color: #555;
  transition: border-color 0.3s, color 0.3s;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar input[type="text"],
  .search-bar select,
  .search-bar button {
    margin: 5px;
    width: 100%;
  }
}

/* Footer Styles */
footer {
  background-color: #141414;
  opacity: 0.8;
  color: #ddd;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #fff;
}

.footer-content input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
}

.footer-content button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.footer-content button:hover {
  background-color: #0056b3;
}

.footer-content p {
  margin-top: 10px;
  color: #ddd;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .App {
    margin: 10px;
  }

  .news-feed {
    padding: 10px;
  }
}
