/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  margin: 0;
}

/* NewsFeed.css */

.news-feed {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.news-feed h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* NewsEntity.css */

.news-entity {
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-entity h2 {
  font-size: 20px;
  margin: 0;
}

.news-entity p {
  font-size: 16px;
  margin: 10px 0;
}

.news-entity img {
  max-width: 100%;
  height: auto;
}

.read-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.read-more-link:hover {
  text-decoration: underline;
}

/* CSS for Search Bar and Filters */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.search-bar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  min-width: 150px;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-bar button:hover {
  background-color: #0056b3;
}
/* Media query for small screens */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }
  
  .search-bar input[type="text"], .search-bar select, .search-bar button {
    margin: 5px;
    width: 100%;
  }
}

/* Responsive styles for smaller screens */

@media (max-width: 768px) {
  .App {
    margin: 10px;
  }

  .news-feed {
    padding: 10px;
  }
}
